/*
Comp 318 sec 402
Author: Ralph
Modified by: Anne
*/

/*helps the height of the webpage and sets the background gradient*/
html{

  background-image: linear-gradient(rgb(208, 255, 255),antiquewhite);
  position: absolute;
  width:100%;
  min-height: 100%;

}
body {
  min-height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-top: 0;
  margin-left: auto;
  margin-right:auto;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*this only affects the HomePage <p>*/
.HomeContent{
  min-height: 100%;
}
.HomeContent p{
  
  text-align: left;
  padding-left: 45px;
  font-size: 20px;
  font-family:  Arial, sans-serif;
}

/*for the contents of the rest of the pages, sets min height and text aligned to center*/
.container{
  min-height: 100%;
  text-align: center;
}


/*root div height to help the footer stay at bottom*/
#root{
  min-height:90vh;
}

h1{
  text-align: center;
  color:rgb(70, 7, 0);
}

/*footer set to be at the bottom of root and fot*/
footer{
  position: relative;
  bottom:0%;
  top:auto;
}

footer p{
  font-size: 15px;
  padding-left: 20px;
}

/*all buttons if not specified later*/
.button{
  background-color: rgb(70, 7, 0); /* Brown */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  
}

.button:hover{
  color:rgb(208, 255, 255);
  cursor:pointer;
}


/*nav bar style + navbar buttons*/

nav{
  background-color: rgb(37, 4, 0);
  padding-left:53%;
}

nav button{

  background-color: rgb(37, 4, 0);
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border: none;
  
}

nav button:hover{
  color:rgb(208, 255, 255);
  cursor:pointer;
}

/*general p especially impacts the output text*/
p{
  font-size:25px;
  text-align: left;
  width: 50%;
  padding-left: 35%;
}
